button {
  border: 0;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  padding: 9px 19px;
  outline: none;

  &[disabled] {
    color: #888;
    cursor: default;
    background: #EEE !important;
    border: 1px solid #EEE !important;

    &:hover {
      color: #888;
      background: #EEE !important;
      border: 1px solid #EEE !important;
    }
  }

  &.red {
    color: #FFF;
    background: #dc3545;

    &:hover {
      background: #c82333;
    }
  }

  &.red-transparent {
    color: #dc3545;
    &:hover {
      color: #c82333;
    }
  }

  &.blue {
    background: #007bff;

    &:hover {
      background: #0069d9;
    }
  }
}