.channel {

  &__empty-state {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    strong {
      width: 50%;
      color: #333;
      font-size: 24px;
      max-width: 300px;
      font-family: arial;
    }
  }

  &__content {
    display: grid;
    height: 100vh;
    background: #FFF;
    grid-template-rows: 70px auto 70px;
  }

  &__header {
    display: flex;
    padding: 0 20px;
    font-weight: bold;
    align-items: center;
    color: #00c876;
    box-shadow: 0px 2px 1px 0px #eaeaea;
  }

  &__section {
    padding: 20px;
    display: flex;
    overflow: auto;
    flex-direction: column;
  }

  &__messages {
    height: 75%;
    padding: 10px;
  }

  &__chat-input {
    width: 95%;
    height: 60%;
    outline: none;
    padding: 10px;
    font-size: 14px;
  }

  &__footer {
    form {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}