.message {
  display: grid;
  padding: 18px 0;
  border-top: 2px dotted #CCC;
  grid-template-columns: 55px auto;

  &:last-child {
    border-top: none;
  }

  &__date {
    color: #AAA;
    font-size: 12px;
    margin-left: 10px;
    font-weight: normal;
  }

  &__info {
    color: #666;
    font-size: 14px;
  }

  &__text {
    color: #333;
    font-size: 15px;
  }

  &__photo {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    background: #c4b0b0;
    justify-content: center;
    border-radius: 50px 50px;

    &.color1 {
      background: #113377;
    }
    &.color2 {
      background: #16f1b4;
    }
    &.color3 {
      background: #fdd5cd;
    }
    &.color4 {
      background: #efd19f;
    }
    &.color5 {
      background: #dfe8f0;
    }
    &.color6 {
      background: #f7e6fd;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
  }
}