* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: arial;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 30px;
  grid-template-columns: 230px 1fr;
}