.channel-list {
  display: grid;
  height: 100vh;
  background: #f2f2f2;
  grid-template-rows: 30px auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e1e1e1;
  }

  &__section {
    overflow: auto;
    display: flex;
    flex-direction: column;

    &__title {
      padding: 18px;
      border-right: 1px solid #e1e1e1;
    }
  }

  &__item {
    cursor: pointer;
    padding: 6px 18px;
    border-right: 1px solid #e1e1e1;

    &:hover {
      background: #EFEFEF;
    }

    &.selected {
      background: #FFF;
      border-right: none;
    }
  }
}