* {
  font-family: arial;
  box-sizing: border-box;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 14px;
  outline: none;
  font-size: 14px;
  border: 1px solid #CCC;
}
input:focus {
  border: 1px solid #AAA;
}

.chat {
  height: calc(100vh - 59px);
  display: grid;
  transition: all 1s;
  grid-template-columns: 0 1fr;
}
@media (min-width: 768px) {
  .chat {
    grid-template-columns: 230px 1fr;
  }
}

.badge {
  width: auto;
  color: #FFF;
  font-size: 12px;
  min-width: 28px;
  padding: 2px 10px;
  text-align: center;
  border-radius: 50px;
  font-weight: bolder;
  background: #f93d3d;
}

.header {
  height: 59px;
  padding: 10px;
  position: relative;
  background: #314048;
  box-shadow: 0 0 0 1px #314048;
}
@media (min-width: 768px) {
  .header {
    display: none;
  }
}

.burguer span {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  display: block;
  background-color: #FFF;
}

#toggleChannelList {
  display: none;
}
#toggleChannelList:checked ~ .chat {
  grid-template-columns: 230px 1fr;
}

button {
  border: 0;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  padding: 9px 19px;
  outline: none;
}
button[disabled] {
  color: #888;
  cursor: default;
  background: #EEE !important;
  border: 1px solid #EEE !important;
}
button[disabled]:hover {
  color: #888;
  background: #EEE !important;
  border: 1px solid #EEE !important;
}
button.red {
  color: #FFF;
  background: #dc3545;
}
button.red:hover {
  background: #c82333;
}
button.red-transparent {
  color: #dc3545;
}
button.red-transparent:hover {
  color: #c82333;
}
button.blue {
  background: #007bff;
}
button.blue:hover {
  background: #0069d9;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.modal:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
}
.modal__container {
  top: 50%;
  left: 50%;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
}
.modal__close {
  top: 10px;
  right: 10px;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
}
.modal__close:hover {
  color: #555;
}
.modal__dialog {
  padding: 40px;
  display: flex;
  background: #FFF;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.modal__dialog h3 {
  font-size: 32px;
  margin-bottom: 27px;
}
.modal__dialog label,
.modal__dialog input {
  align-self: start;
}
.modal__dialog__btns {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: flex-end;
}

.channel {
  box-shadow: 0px 0px 0px 1px #e1e1e1;
}
.channel__empty-state {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 59px);
}
@media (min-width: 768px) {
  .channel__empty-state {
    height: 100vh;
  }
}
.channel__empty-state strong {
  width: 50%;
  color: #333;
  font-size: 24px;
  max-width: 300px;
  font-family: arial;
}
.channel__content {
  display: grid;
  background: #FFF;
  height: calc(100vh - 59px);
  grid-template-rows: 70px 1fr 70px;
}
@media (min-width: 768px) {
  .channel__content {
    height: 100vh;
  }
}
.channel__header {
  display: flex;
  padding: 0 20px;
  color: #00c876;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 1px 0px #eaeaea;
}
.channel__section {
  padding: 20px;
  display: flex;
  overflow: auto;
  flex-direction: column-reverse;
}
.channel__messages {
  height: 75%;
  padding: 10px;
}
.channel__chat-input {
  width: 100%;
  height: 60%;
  outline: none;
  padding: 10px;
  font-size: 14px;
}
.channel__footer--join {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e1e1e1;
}
.channel__footer form {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.channel-list {
  display: grid;
  overflow: hidden;
  background: #f2f2f2;
  grid-template-rows: 70px 1fr;
  height: calc(height: 100vh - 59px);
}
@media (min-width: 768px) {
  .channel-list {
    height: 100vh;
  }
}
.channel-list__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.channel-list__header__name {
  color: #00c876;
  max-width: 110px;
  overflow: hidden;
  font-weight: bold;
  margin: 0 0 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.channel-list__section {
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.channel-list__section__title {
  padding: 18px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.channel-list__section__title span:first-child {
  font-weight: bold;
}
.channel-list__item {
  display: flex;
  cursor: pointer;
  padding: 6px 18px;
  justify-content: space-between;
}
.channel-list__item__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.channel-list__item:hover {
  background: #EFEFEF;
}
.channel-list__item.selected {
  background: #FFF;
  border-right: none;
  position: relative;
}
.channel-list .plus {
  width: 16px;
  height: 16px;
  display: flex;
  font-size: 18px;
  cursor: pointer;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
}
.channel-list .plus:hover {
  color: #888;
  border-color: #888;
}

.message {
  display: grid;
  padding: 18px 0;
  border-top: 2px dotted #CCC;
  grid-template-columns: 55px 1fr;
}
.message--auto .message__text {
  color: #999;
  font-style: italic;
}
.message:last-child {
  border-top: none;
}
.message__date {
  color: #AAA;
  font-size: 12px;
  margin-left: 10px;
  font-weight: normal;
}
.message__info {
  color: #666;
  font-size: 14px;
}
.message__text {
  color: #333;
  font-size: 15px;
}
.message__photo {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  background: #c4b0b0;
  justify-content: center;
  border-radius: 50px 50px;
}
.message__photo.color1 {
  background: #113377;
}
.message__photo.color2 {
  background: #16f1b4;
}
.message__photo.color3 {
  background: #fdd5cd;
}
.message__photo.color4 {
  background: #efd19f;
}
.message__photo.color5 {
  background: #dfe8f0;
}
.message__photo.color6 {
  background: #f7e6fd;
}
.message__right {
  display: flex;
  flex-direction: column;
}

.form-choose-name {
  width: 100vw;
  display: flex;
  height: 100vh;
  align-items: center;
  background: #f2f2f2;
  justify-content: center;
}
.form-choose-name__content {
  padding: 20px;
  max-width: 90vw;
  background: #FFF;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .form-choose-name__content {
    padding: 50px;
  }
}
.form-choose-name__content input {
  margin-top: 6px;
}
.form-choose-name__content button {
  display: block;
  margin: 20px auto 0 auto;
}

/*# sourceMappingURL=index.css.map */
